$base-color: rgb(0, 100, 255);
$base-color-active: rgb(0, 86, 172);
$border-dark: rgba($base-color, 0.6);

$text-color: rgba(0, 0, 0, 0.87);
$error-color: rgb(207, 0, 0);
$toolbar-color: rgb(0, 0, 128);
